/*------------------------------------------------------------------
[Table of contents]

1. Body
    2. Header / #header
        2.1. Background / .bg
        2.2  Welcome Text / .welcomeText
        2.3. Welcome Message / .welcomeMessage
        2.4. Name Colorization / .name
    3. About / #content
        3.1. Title & Text / .aboutTitle
        3.2. Row & Columns / .container_fluid
    4. Portfolio / #content
        3.1. Title & Text / .portfolioTitle
        3.2. General Padding / .projects
        3.3. Project Cards / .filterDiv
    5. Contact Form / #contactForm
        3.1. Title & Text / 
        3.2. General Padding / 
    6. Footer / #footer
-------------------------------------------------------------------*/
.nav-link {
    font-size: 20px;
}
.bg {
    background-image: url("Images/images/index_bg_comp.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.welcomeText {
    text-align: center;
    padding-top: 20em;
    z-index: 1;
}

.welcomeMessage {
    color: #FBFCFF;
}

.name {
    color: #78ABD0;
}

body, html {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
  }
  
.sectionTitle {
    color: #274156;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 50px;
}

.about_description {
    padding-bottom: 15px;
}



#lastParagraph {
    padding-bottom: 40px;
}

#about {
    margin: 100px;
    text-align: center;
}

#portfolio {
    width: 100vw;
    background-color: #274156;
    color: #FBFCFF;
    text-align: center;
}

.portfolioTitle {
    padding: 50px;
}

.projects {
    padding: 10px;
}

.filterDiv {
    border-radius: 15 px 50 px;
    width: 250px;
    height: 100%;
    text-align: center;
    margin: 10px;
    display: inline-block; /* Hidden by default */
  }

.card_image_top {
    height: 100px;
    width: 100px;
    display: block;
}

.list-group-item {
    color: black !important;
}

.carousel-item  {
    max-width: 100vw;
    
}

.carousel-inner {
    padding: 10% 25%;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23274156' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23274156' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.bg-custom {
    background-color: #274156;
    outline: none;
}


i {
    color: #274156
}

.skillTitle {
    color: #1c6e8c;
}

.skillCard {
    padding: 1em;
    width: 20em;
}

.contactForm{
    width: 100vw;
    background-color: #274156;
    color: white;
}

.contactMethod {
    padding: 2em;
    margin: 1em;
    font-size: 1em;
}

/*
.contactWrapper {
    background-color: #274156;
    width: 100vw;
    
}

#contactForm {
    background-color:  #274156;
    color: #FBFCFF;
    width: 100vw;
}

.form {
    padding: 5em;

}

.contactInfo {
    padding: 5em;
    margin: 1em;
}
.formSubmit {
    background-color: #1C6E8C;
    border: none !important;
}
*/
.bg-custom-code {
    background-color: #1C6E8C;
    outline: none !important;
}

.fa-laptop-code {
    color: #FBFCFF !important;
}


