/*------------------------------------------------------------------
[Table of contents]

1. Body
    2. Header / #header
        2.1. Background / .bg
        2.2  Welcome Text / .welcomeText
        2.3. Welcome Message / .welcomeMessage
        2.4. Name Colorization / .name
    3. About / #content
        3.1. Title & Text / .aboutTitle
        3.2. Row & Columns / .container_fluid
    4. Portfolio / #content
        3.1. Title & Text / .portfolioTitle
        3.2. General Padding / .projects
        3.3. Project Cards / .filterDiv
    5. Contact Form / #contactForm
        3.1. Title & Text / 
        3.2. General Padding / 
    6. Footer / #footer
-------------------------------------------------------------------*/
.bg {
    background-image: url("Images/images/index_bg_comp.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.welcomeText {
    text-align: center;
    padding-top: 20%;
    z-index: 1;
}

.welcomeMessage {
    color: #FBFCFF;
}

.name {
    color: #979CC8;
}

body, html {
    height: 100%;
    margin: 0;
  }
  
.sectionTitle {
    color: #274156;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 50px;
}

.about_description {
    padding-bottom: 15px;
}

#lastParagraph {
    padding-bottom: 40px;
}

#about {
    margin: 100px;
    text-align: center;
}

#portfolio {
    background-color: #274156;
    position: relative;
    color: #FBFCFF;
    margin: 100px;
}
#portfolio:before {
    content:"";
    background-color:#274156;
    position: absolute;
    height: 100%;
    width: 184.1vw;
    left: -100vw;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: hidden;
}

.projects {
    padding: 10px;
}

.filterDiv {
    border-radius: 15 px 50 px;
    width: 250px;
    height: 400px;
    text-align: center;
    margin: 10px;
    display: inline-block; /* Hidden by default */
  }

.card_image_top {
    height: 100px;
    width: 100px;
    display: block;
}

#contactForm {
    margin: 100px;
}

.carousel-item img {
    width: auto;
    max-height: 1000px;
}

.bg-custom {
    background-color: #274156;
    outline: none;
}


i {
    color: #274156
}

.skillTitle {
    color: #1c6e8c;
}

#contactForm {
    background-color:  #274156;
    color: #FBFCFF;
}

#contactForm:before {
    content:"";
    background-color:#274156;
    position: absolute;
    height: 100%;
    width: 198.7vw;
    left: -100vw;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: hidden;
}

.formSubmit {
    background-color: #1C6E8C;
    border: none !important;
}

.bg-custom-code {
    background-color: #1C6E8C;
    outline: none !important;
}